/* MARK: Note Review Page */

.sr-note-review-page {
    display: flex;
    flex-direction: column;
    gap: var(--size-4-4);

    .tree-item.mod-root > .tree-item-children {
        padding-inline-start: 0;
        margin-inline-start: 0;
        border-inline-start: none;
    }

    & .tree-item-self:hover {
        background-color: var(--background-modifier-hover);
        border-radius: var(--input-radius);
    }

    .nav-file-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Select deck folders which has descendant :
      .sr-file--due-over AND (.sr-file--due-today OR .sr-file--new)

      Add red-green indicator
    */
    .sr-folder--deck.is-collapsed:has(.sr-file--due-over) {
        &:has(.sr-file--due-today),
        &:has(.sr-file--new) {
            & > .tree-item-self::after {
                margin-left: auto;
                content: "";
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50% 50%;
                background: linear-gradient(
                    120deg,
                    rgba(224, 49, 49, 1) 29%,
                    rgba(87, 199, 133, 1) 100%,
                    rgba(47, 158, 68, 1) 100%
                );
            }
        }
    }

    /* Select deck folders which has descendant :
      .sr-file--due-over AND (NOT .sr-file--due-today) AND (NOT sr-file--new)
      
      Add reddish indicator
    */
    .sr-folder--deck.is-collapsed:has(.sr-file--due-over):not(:has(.sr-file--due-today)):not(
            :has(.sr-file--new)
        ) {
        & > .tree-item-self::after {
            margin-left: auto;
            content: "";
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50% 50%;
            background: #e03131;
        }
    }

    /* Select deck folders which has descendant :
      NOT .sr-file--due-over AND (.sr-file--due-today OR .sr-file--new)
      
      Add greenish indicator
    */
    .sr-folder--deck.is-collapsed:not(:has(.sr-file--due-over)) {
        &:has(.sr-file--due-today),
        &:has(.sr-file--new) {
            & > .tree-item-self::after {
                margin-left: auto;
                content: "";
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50% 50%;
                background: #2f9e44;
            }
        }
    }

    /* Select 'New' and 'Today' folders
      
      Add greenish indicator
    */
    .sr-folder--schedule--new,
    .sr-folder--schedule--due-today {
        &.is-collapsed > .tree-item-self::after {
            margin-left: auto;
            content: "";
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50% 50%;
            background: #2f9e44;
        }
    }

    /* Select 'Overdue' folder
      
      Add reddish indicator
    */
    .sr-folder--schedule--due-over {
        &.is-collapsed > .tree-item-self::after {
            margin-left: auto;
            content: "";
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50% 50%;
            background: #e03131;
        }
    }

    /* Select files which are either new or due-today
        Add greenish left border
     */
    .sr-file--due-today,
    .sr-file--new {
        border-left: 4px solid #2f9e44;
        border-radius: var(--input-radius);
    }

    /* Select files which are either over-due
        Add reddish left border
     */

    .sr-file--due-over {
        border-left: 4px solid #e03131;
        border-radius: var(--input-radius);
    }

    .nav-file-title-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;
    }

    .sr-review-context-btn {
        &:hover {
            background-color: var(--background-modifier-hover);
            cursor: pointer;
        }
    }
}

.sr-note-review-header {
    display: flex;
    flex-direction: column;
    gap: var(--size-4-2);
    padding: var(--size-4-2);
    border-bottom: 1px solid var(--background-modifier-border);
}

.sr-note-review-header-title-wrapper {
    display: flex;
    align-items: center;
    gap: var(--size-4-2);
}

.sr-note-review-header-title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-note-review-header-title {
    font-size: var(--font-ui-large);
    font-weight: var(--font-semibold);
}

.sr-note-review-header-subtitle-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-4-2);
    font-size: var(--font-ui-small);
    color: var(--text-faint);
}
